<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="c:\temp\internal-nlog.txt">

	<targets>

		<target xsi:type="File" name="file" fileName="logErrors.txt" />

		<target xsi:type="Console" name="console" />

		<target xsi:type="Debugger" name="debugger" layout="${longdate} ${logger} ${message} ${exception:format=tostring}" />
	</targets>
>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="file" />

		<logger name="*" minlevel="Error" writeTo="console" />

		<logger name="*" minlevel="Trace" writeTo="debugger" />
	</rules>
</nlog>
